[data-testid=metric-container] {
    box-shadow: 0 0 4px #cccccc;
    padding: 10px;
}

.plot-container>div {
    box-shadow: 0 0 4px #cccccc;
    padding: 10px;
    
   
}

div[data-testid="stExpander"] div[role="button"] p
{
    font-size: 1.3rem;
    color:rgb(235, 238, 238);
}

/* [data-testid="stSidebarNav"] {
    background-image: url(https://quantiu.com/Content/images/team/large-a.jpg);
    background-repeat: no-repeat;
    padding-top: 300px;
    background-position:  left ;
    height: 50px;
} */

/* [data-testid="stSidebarNav"]::before {
    content: "QuantumTrading";
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
    position: relative;
    top: 100px;
} */